
<div class="container d-flex align-center">
  <h1 class="text align-center">Bonjour et bienvenue aux jeux des mots</h1>
  <div type="button" class="btn btn-outline-danger"></button>
  <%= link_to 'PLAY', new_path %>
</div>

</div>
